services:
  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - ./db_data:/var/lib/postgresql/data

  web:
    build: .
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./src:/opt/odoo/src:ro # CORE: Read-only safety
      - ./custom_addons:/mnt/extra-addons # CUSTOM: Your development area
      - ./config:/etc/odoo
      - ./data:/var/lib/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    command: >
      python3 /opt/odoo/src/odoo-bin  --config=/etc/odoo/odoo.conf  --dev=reload,xml,qweb
